@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-grid {
  --padding-inline: 1.2rem;
  --content-max-width: 1280px;
  --layout-max-width: 1440px;

  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}
.content-grid > :not(.full-width) {
  grid-column: content;
}
.content-grid > .full-width {
  grid-column: full-width;
}

button {
  @apply active:scale-[0.98];
}

nav li {
  @apply cursor-pointer transition-all duration-300 first-letter:capitalize hover:text-black;
}

.clipped-image {
  background-image: url("/img/hike.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* min-height: 856px; */
  min-height: 1040px;
  width: 100%;
  max-width: 1281px;
  clip-path: path('M226.26 0C234.473 0 240 9.8436 240 18.0572V18.0572V69.9428C240 88.1998 254.8 103 273.057 103H305.34C310.395 103 314 108.002 314 113.057V113.057V164.943C314 183.2 328.8 198 347.057 198H358.849C368.376 198 375 211.53 375 221.057V221.057V256.943C375 275.2 389.8 290 408.057 290H871.943C890.2 290 905 275.2 905 256.943V221.057V221.057C905 211.53 911.624 198 921.151 198H932.943C951.2 198 966 183.2 966 164.943V113.057V113.057C966 108.002 969.605 103 974.66 103H1007.94C1026.2 103 1041 88.1998 1041 69.9428V18.0572V18.0572C1041 9.84358 1046.53 0 1054.74 0H1242.97C1263.95 0 1280.97 17.0132 1280.97 38V718C1280.97 738.987 1263.95 756 1242.97 756H1010C990.118 756 974 772.118 974 792V817.355C974 838.342 956.987 855.355 936 855.355H369C348.013 855.355 331 838.342 331 817.355V792C331 772.118 314.882 756 295 756H26V756C15.4807 756 0 748.564 0 738.045V38C0 17.0132 17.0132 0 38 0H226.26Z');
}